extends layout

block content
    h1= title
    form(id='helmetsForm', action="/resource/helmets", method="POST")
        div.form-group
            label.helmetsAttr(for='helmet_style') Helemts style
            input#helmets_style(type='text', name='helmet_style')
        div.form-group
            label.helmetsAttr(for='size') size
            input#size(type='text', name='size')
        div.form-group
            label.helmetsAttr(for='price') price
            input#price(type='number', name='price')
        input(type="submit")

    script.
        document.forms['helmetsForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeeded");
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed: " + error);
            });
        });

